@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #F3F3F3;
}

#singlebook span {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}